{% extends "base.html" %}
{% block content %}

<h2>Login</h2>
<form method="post">
    <table>
        <tr>
            <td class="label">Username</td>  
            <td><input type="text" id="login" name="username" value="{{username}}"></td>    
        </tr>
        <tr>
            <td class="label">Password</td>
            <td><input type="password" id="login" name="password" value=""></td>  
        </tr>
    </table>

    <div class="error">{{error}}</div>
    
    <input type="submit">
</form>

{% endblock %}