{% extends "base.html" %}
{% block content %}
<link type="text/css" rel="stylesheet" href="/static/option.css" />
<script type="text/javascript" src="/static/option_pricer.js"></script>

<script>
    function show_instructions(){
        var instruct_elem = document.getElementById('show_instructions_id');
        console.log(instruct_elem.value);
        if (instruct_elem.value == 'Show Instructions'){
            instruct_elem.value = 'Hide Instructions';
            document.getElementById('instructions_id').style.display = '';
        }
        else {
            instruct_elem.value = 'Show Instructions';
            document.getElementById('instructions_id').style.display = 'none';
        }
    }
</script>

<form method="post" />

<h3><input type="button" id="show_instructions_id" onclick="show_instructions()" value="Show Instructions" style="background-color: transparent; border: 0; padding: 0; font-size:20px;" /></h3>
<div class="instructions_class" id="instructions_id" style="width:850px; display:none">
    Enter any US optionable stock symbol.  Once the position has been retrieved any field in <span style="color:red">red</span> can be edited.
    The stock price can be set to tick at random by setting the radio button to use random ticks.  If random ticks is selected the position
    will automatically update with every stock tick.  If use static is selected you will have to press the calc greeks button to get the 
    position to update.  You can change the vols by adjusting Spot vol, Skew, and Smile.  Once you have changed the vol you must hit update
    vols for the new vols to be applied.  Hide dividends does what it sounds like.  Show limited strikes removes any strike where the call
    delta is over .75 or less than .25, it is helpful to limit the strike to the more important ones.  The checkboxes next to the expirations
    place/remove those strikes from the view.  You can input the number of options in the position column, and input the number of shares of
    stock in the column next total stock.  Finally to save the position to the DB hit the save position button.  If you are logged in your
    position will be saved to your personal position.  If you are not logged in a the position will be saved to a guest position and can
    be edited by anyone.  There is a sample position in GOOG that you can look at, or create one on any stock you wish.  One caveat the model
    does not price dividend pay stocks correctly, you can still view them but the pricing is incorrect.
</div>

<div id="stock_info_div">
    <h2>
        Symbol: <input type="text" name="stock_symbol" id="stock_symbol_id" value ="{{stock_symbol}}" style="color : red" />
            <input type="submit" name="symbol_submit" id="symbol_submit_id" value="Get Stock" />{{error}}<br>
        Last: <input type="text" name="stock_price" id="stock_price_id" value ="{{stock_price}}" autocomplete="off" style="color : red" onblur="place_greeks()"/>
            <input type="submit" name="save_submit" id="save_submit_id" value="Save Position" /><br>
        Interest Rate: <input type="text" name="interest_rate" id="interest_rate_id" value ="{{interest_rate}}" autocomplete="off" style="color:red" />
    </h2>
</div>

<!--
<input type="checkbox" name="database_write" {{database_write}}/>Read/Write to database(works but not recommended, eats through the datastore writes quickly) <br>
<input type="checkbox" name="precache" {{precache}}/>Precache (Precache takes longer up front but speeds up subsequent calls, once you precache turn it of for faster results)<br>
<input type="checkbox" id="use_random_ticks" onclick="check_use_random_ticks()" />Use random ticks to drive stock price<br>-->
<input type="button" value="upate vols" onclick="make_vol_skew()">
<input type="button" value="calc greeks" onclick="place_greeks();calc_position_greeks()"><br />
<input type="radio" name="stock_driver" id="use_static" checked onclick="check_use_random_ticks()" />Use static stock price
<input type="radio" name="stock_driver" id="use_random_ticks" onclick="check_use_random_ticks()" />Use random ticks to drive stock price<br />
<input type="checkbox" id="show_dividends" onclick="check_show_dividends()" checked  />Hide dividends
<input type="checkbox" id="show_limited_strikes" onclick="check_show_strike()" checked />Show Limited Strikes (Show strikes between 25 and 75 delta)<br>

<table class="position_totals">
    <tr>
        <th><input type="text" class="greeks5" id="greek_checkbox" value="" /></th>
        <th><input type="text" class="greeks1" name="expiry" value ="Expiration" readonly="readonly" /></th>
        <th><input type="text" class="greeks1" name="spot_vol" value ="Spot Vol" readonly="readonly" /></th>
        <th><input type="text" class="greeks1" name="skew" value ="Skew" readonly="readonly" /></th>
        <th><input type="text" class="greeks1" name="smile" value ="Smile" readonly="readonly" /></th>
        <th><input type="text" class="greeks1" name="vega" value ="Vega" readonly="readonly" /></th>
        <th><input type="text" class="greeks1" name="delta" value ="Delta" readonly="readonly" /></th>
        <th><input type="text" class="greeks1" name="gamma" value ="Gamma" readonly="readonly" /></th>
        <th><input type="text" class="greeks1" name="theta" value ="Theta" readonly="readonly" /></th>
    </tr>

{% if ordered_expiration_string %}
    {% for i in range(ordered_expiration_string|length) %}
        {% set exp = ordered_expiration_string[i] %}
        <tr>
            <td><input type="checkbox" class="greeks5" id="{{exp}}_checkbox" checked onclick="check_show_strike()" /></td>
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" id="{{exp}}" value ="{{exp}}" readonly="readonly" /></td>
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" name="spot_vol_{{exp}}" id="spot_vol_{{exp}}" value ="{{vols[ordered_expiration_datetime[i]][0]}}" style="color : red" /></td> 
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" name="slope_{{exp}}" id="slope_{{exp}}" value ="{{vols[ordered_expiration_datetime[i]][1]}}" style="color : red" /></td>
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" name="smile_{{exp}}" id="smile_{{exp}}" value ="{{vols[ordered_expiration_datetime[i]][2]}}" style="color : red" /></td>
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" id="vega_{{exp}}" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" id="delta_{{exp}}" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" id="gamma_{{exp}}" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks{{loop.cycle(2,3)}}" id="theta_{{exp}}" value ="" readonly="readonly" /></td>    
        </tr>                                                                           
    {% endfor %}
{% endif %}
   
    <tr>
        <td><input type="text" class="greeks5" id="greek_total" value="" /></td>
        <td><input type="text" class="greeks4" name="total" value ="Total" readonly="readonly" /></td>
        <td><input type="text" class="greeks4" name="stock_text" value ="Stock" readonly="readonly" /></td>
        {% if position %}
            <td><input type="text" class="greeks4" id="stock_position" name="stock_position" value ="{{position['stock']}}" /></td>
        {% else %}
            <td><input type="text" class="greeks4" id="stock_position" name="stock_position" value ="" /></td>
        {% endif %}
        <td><input type="text" class="greeks4" name="smile_total" value ="" readonly="readonly" /></td>
        {% if position_totals %}
            <td><input type="text" class="greeks4" id="vega_total" name="vega_total" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks4" id="delta_total" name="delta_total" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks4" id="gamma_total" name="gamma_total" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks4" id="theta_total" name="theta_total" value ="" readonly="readonly" /></td>
        {% else %}
            <td><input type="text" class="greeks4" id="vega_total" name="vega_total" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks4" id="delta_total" name="delta_total" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks4" id="gamma_total" name="gamma_total" value ="" readonly="readonly" /></td>
            <td><input type="text" class="greeks4" id="theta_total" name="theta_total" value ="" readonly="readonly" /></td>
        {% endif %}        
    </tr>
</table>


{% if ordered_expiration_string %}
    {% if projected_dividends %}
    <table class="dividend_table">
        <tr>
            <td><input type="text" class="dividends1" id="div_pro_date" value="Projected Ex-Date" readonly="readonly" /></td>
            <td><input type="text" class="dividends1" id="pro_div_amount" value="Projected Div Amount" readonly="readonly" /></td>
        </tr>
        {% for div in projected_dividends %}

            <tr id="dividend_row_{{div[0]}}">
                <td><input type="text" class="dividends{{loop.cycle(2,3)}}" id="div_exp_{{div[0]}}" value ="{{div[0]}}" /></td>
                <td><input type="text" class="dividends{{loop.cycle(2,3)}}" id="div_amount_{{div[0]}}" value ="{{div[1]}}" /></td>
            </tr>

        {% endfor %}
    </table>
    {% endif %}
{% endif %}


<h2>
    Option Position<br>
</h2>

<table class="option_chain_table">
    <tr>
        <th><input type="text" class="chain1" name="expiry2" value ="Expiry" readonly="readonly" /></th>
        <th><input type="text" class="chain2" name="strike" value ="Strike" readonly="readonly" /></th>      
        <th><input type="text" class="chain3" name="call_value" value ="Value" readonly="readonly" /></th>
        <th><input type="text" class="chain4" name="call_delta" value ="Delta" readonly="readonly" /></th>
        <th><input type="text" class="chain5" name="call_vega" value ="Vega" readonly="readonly" /></th>
        <th><input type="text" class="chain6" name="call_gamma" value ="Gamma" readonly="readonly" /></th>
        <th><input type="text" class="chain7" name="call_theta" value ="Theta" readonly="readonly" /></th>
        <th><input type="text" class="chain8" name="call_open_interest" value ="Open Int" readonly="readonly" /></th>
        <th><input type="text" class="chain9" name="call_position" value ="Position" readonly="readonly" /></th>
        <th><input type="text" class="chain10" name="vol" value ="Vol" readonly="readonly" /></th>
        <th><input type="text" class="chain9" name="put_position" value ="Position" readonly="readonly" /></th>
        <th><input type="text" class="chain3" name="put_value" value ="Value" readonly="readonly" /></th>
        <th><input type="text" class="chain4" name="put_delta" value ="Delta" readonly="readonly" /></th>
        <th><input type="text" class="chain5" name="put_vega" value ="Vega" readonly="readonly" /></th>
        <th><input type="text" class="chain6" name="put_gamma" value ="Gamma" readonly="readonly" /></th>
        <th><input type="text" class="chain7" name="put_theta" value ="Theta" readonly="readonly" /></th>
        <th><input type="text" class="chain8" name="put_open_interest" value ="Open Int" readonly="readonly" /></th>
    </tr>

{% if ordered_expiration_string %}
    {% if ordered_expiration_datetime %}
        {% for i in range(ordered_expiration_datetime|length) %}
            {%set exp = ordered_expiration_datetime[i] %}
            {% set exp_str = ordered_expiration_string[i] %}
            {% for option in ordered_option_symbol_list %}
                {% if option_chain[option]['exp_datetime.date'] == exp %}
                <tr id="{{option}}_row">
                    <td><input type="text" class="chain1" id="{{option}}_expiration" value ="{{exp_str}}" readonly="readonly" /></td>
                    <td><input type="text" class="chain2" id="{{option}}_strike" value ="{{option_chain[option]['strike_price_str']}}" readonly="readonly" /></td>   
                    <td><input type="text" class="chain3" id="{{option}}_call_value" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain4" id="{{option}}_call_delta" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain5" id="{{option}}_call_vega" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain6" id="{{option}}_call_gamma" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain7" id="{{option}}_call_theta" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain8" id="{{option}}_call_open_interest" value ="{{option_chain[option]['open_interest']}}" readonly="readonly" /></td>
                    <td><input type="text" class="chain9" name="{{option}}_call_position" id="{{option}}_call_position" value ="{{position[option]}}" style="color : red" /></td>
                    <td><input type="text" class="chain10" id="{{option}}_vol" value ="" /></td>
                    {% set option = option[:-9] + 'P' + option[-8:] %}
                    <td><input type="text" class="chain9" name="{{option}}_put_position" id="{{option}}_put_position" value ="{{position[option]}}" style="color : red" /></td>
                    <td><input type="text" class="chain3" id="{{option}}_put_value" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain4" id="{{option}}_put_delta" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain5" id="{{option}}_put_vega" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain6" id="{{option}}_put_gamma" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain7" id="{{option}}_put_theta" value ="" readonly="readonly" /></td>
                    <td><input type="text" class="chain8" id="{{option}}_put_open_interest" value ="{{option_chain[option]['open_interest']}}" readonly="readonly" /></td>
                {% endif %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endif %}

</table>
<input type="hidden" name="stock_symbol_hidden" value="{{stock_symbol}}" />
<input type="hidden" name="option_chain_hidden" value="{{json_option_chain}}" />
<input type="hidden" name="projected_dividends_hidden" value="{{json_projected_dividends}}" />
<input type="hidden" name="vols_by_month_hidden" value="{{json_vols}}" />
<input type="hidden" name="stock_price_hidden" value="{{stock_price}}" />
<input type="hidden" name="trades_on_hidden" value="{{json_trades_on}}" />
<input type="hidden" name="ordered_expiration_string_hidden" value="{{json_ordered_expiration_string}}" />


{% if option_chain %}
<script charset="utf-8">
    var option_chain = {{json_option_chain|safe}};
    var trades_on = {{json_trades_on|safe}};
    var vols_by_month = {{json_vols|safe}};
    var projected_dividends = {{json_projected_dividends|safe}};
    var spot = parseFloat(document.getElementById('stock_price_id').value);   
    var greek_dictionary = {};

    //var ordered_option_symbol_list = {{ordered_option_symbol_list|safe}};

    //create the ordered_option_symbol_list using option_chain
    var ordered_option_symbol_list = []
    for (option in option_chain){
        if (option.slice(-9,-8) == 'C'){
            ordered_option_symbol_list.push(option)
        }
    }
    ordered_option_symbol_list.sort()

    //create the blank greek dictionary
    for (option in option_chain){
        greek_dictionary[option] = {};
    }
</script>
{% endif %}

{% endblock %}

