{% extends "base.html" %}
{% block content %}


<form method="post" />
{% macro input(name, value="", type="text", size=15, readonly="readonly") -%}
    <input type="{{ type }}" name="{{ name }}" value="{{
        value|e }}" size="{{ size }}" readonly="{{readonly}}">
{%- endmacro %}

{% set style1 = "style=background-color:#FFBBFF;" %}
{% set style2 = "style=background-color:#A5DBEB;" %}
{% set style3 = "style=background-color:#BAD0EF;" %}
{% set style4 = "background-color:#A5DBEB;" %}
{% set style5 = "background-color:#BAD0EF;" %}


<br />
<br />
<h3>For resonable performance choose non-div stocks and stocks with lots of strikes (ie FB).  Although both work are causing timeouts.</h3>
<h2>
    Symbol: <input type="text" name="stock_symbol" value ="{{stock_symbol}}" style="color : red" />
        <input type="submit" name="symbol_submit" value="Get Stock" />{{error}}<br>
    Last: <input type="text" name="stock_price" value ="{{stock_price}}" style="color : red" />
        <input type="submit" name="commit_submit" value="Commit Changes" /><br>
    Interest Rate: <input type="text" name="interest_rate" value =".005" readonly ="readonly" /><br>  
</h2>

<input type="checkbox" name="database_write" {{database_write}}/>Read/Write to database(works but not recommended, eats through the datastore writes quickly) <br>
<input type="checkbox" name="precache" {{precache}}/>Precache (Precache takes longer up front but speeds up subsequent calls, once you precache turn it of for faster results)<br>
<input type="checkbox" name="use_rounding" {{use_rounding}}/>Use Rounding (Expands Precache range by using interpolation)<br>
<input type="checkbox" name="limited_strikes" {{limited_strikes}}/>Show Limited Strikes (Show strikes between 25 and 75 delta)<br>
{{ex_time}} Seconds to execute.
<table>
    <tr>
        <th><input type="text" id="greeks" name="expiry" value ="Expiry" readonly="readonly" {{style1}} /></th>
        <th><input type="text" id="greeks" name="spot_vol" value ="Spot Vol" readonly="readonly" {{style1}} /></th>
        <th><input type="text" id="greeks" name="skew" value ="Skew" readonly="readonly" {{style1}} /></th>
        <th><input type="text" id="greeks" name="smile" value ="Smile" readonly="readonly" {{style1}} /></th>
        <th><input type="text" id="greeks" name="vega" value ="Vega" readonly="readonly" {{style1}} /></th>
        <th><input type="text" id="greeks" name="delta" value ="Delta" readonly="readonly" {{style1}} /></th>
        <th><input type="text" id="greeks" name="gamma" value ="Gamma" readonly="readonly" {{style1}} /></th>
        <th><input type="text" id="greeks" name="theta" value ="Theta" readonly="readonly" {{style1}} /></th>
    </tr>

{% if expiry_string %}
    {% if formatted_expiration_totals %}
        {% for exp in expiry_string %}
            <tr>
                <td><input type="text" id="greeks" name="{{exp}}" value ="{{exp[2:4]}}/{{exp[4:]}}/{{exp[:2]}}" readonly="readonly" {{loop.cycle(style2,style3)}} /></td>
                <td><input type="text" id="greeks" name="spot_vol_{{exp}}" value ="{{expiration_vols[exp]['vol']}}" style="color : red; {{loop.cycle(style4,style5)}}" /></td> 
                <td><input type="text" id="greeks" name="skew_{{exp}}" value ="{{expiration_vols[exp]['skew']}}" style="color : red; {{loop.cycle(style4,style5)}}" /></td>
                <td><input type="text" id="greeks" name="smile_{{exp}}" value ="{{expiration_vols[exp]['smile']}}" style="color : red; {{loop.cycle(style4,style5)}}" /></td>
                <td><input type="text" id="greeks" name="vega_{{exp}}" value ="{{formatted_expiration_totals[exp]['vega']}}" readonly="readonly" {{loop.cycle(style2,style3)}} /></td>
                <td><input type="text" id="greeks" name="delta_{{exp}}" value ="{{formatted_expiration_totals[exp]['delta']}}" readonly="readonly" {{loop.cycle(style2,style3)}} /></td>
                <td><input type="text" id="greeks" name="gamma_{{exp}}" value ="{{formatted_expiration_totals[exp]['gamma']}}" readonly="readonly" {{loop.cycle(style2,style3)}} /></td>
                <td><input type="text" id="greeks" name="theta_exp" value ="{{formatted_expiration_totals[exp]['theta']}}" readonly="readonly" {{loop.cycle(style2,style3)}} /></td>    
            </tr>
        {% endfor %}
    {% endif %}
{% endif %}
   
    <tr>
        <td><input type="text" id="greeks" name="total" value ="Total" readonly="readonly" style="background-color:#BDF4CB" /></td>
        <td><input type="text" id="greeks" name="stock_text" value ="Stock" readonly="readonly" style="background-color:#BDF4CB"  /></td>
        {% if position %}
            <td><input type="text" id="greeks" name="stock_position" value ="{{position['stock']}}" style="color:red; background-color:#BDF4CB" /></td>
        {% else %}
            <td><input type="text" id="greeks" name="stock_position" value ="" style="color:red;background-color:#BDF4CB"  /></td>
        {% endif %}
        <td><input type="text" id="greeks" name="smile_total" value ="" readonly="readonly" style="background-color:#BDF4CB"  /></td>
        {% if position_totals %}
            <td><input type="text" id="greeks" name="vega_total" value ="{{formatted_position_totals['vega']}}" readonly="readonly" style="background-color:#BDF4CB"  /></td>
            <td><input type="text" id="greeks" name="delta_total" value ="{{formatted_position_totals['delta']}}" readonly="readonly" style="background-color:#BDF4CB"  /></td>
            <td><input type="text" id="greeks" name="gamma_total" value ="{{formatted_position_totals['gamma']}}" readonly="readonly" style="background-color:#BDF4CB"  /></td>
            <td><input type="text" id="greeks" name="theta_total" value ="{{formatted_position_totals['theta']}}" readonly="readonly" style="background-color:#BDF4CB"  /></td>
        {% else %}
            <td><input type="text" id="greeks" name="vega_total" value ="" readonly="readonly" style="background-color:#BDF4CB"  /></td>
            <td><input type="text" id="greeks" name="delta_total" value ="" readonly="readonly" style="background-color:#BDF4CB"  /></td>
            <td><input type="text" id="greeks" name="gamma_total" value ="" readonly="readonly" style="background-color:#BDF4CB"  /></td>
            <td><input type="text" id="greeks" name="theta_total" value ="" readonly="readonly" style="background-color:#BDF4CB"  /></td>
        {% endif %}        
    </tr>
</table>

{% if expiry_string %}
    {% if projected_dividends %}
    <table>
        <tr>
            <td><input type="text" name="div_pro_date" value="Projected Ex-Date" readonly="readonly" /></td>
            <td><input type="text" name="pro_div_amount" value="Projected Div Amount" readonly="readonly" /></td>
        </tr>
        {% for div in projected_dividends %}

            <tr>
                <td><input type="text" name="div_exp_{{div[0]}}" value ="{{div[0]}}" width="50px"/></td>
                <td><input type="text" name="div_{{div[1]}}" value ="{{div[1]}}" width="200px"/></td>
            </tr>

        {% endfor %}
    </table>
    {% endif %}
{% endif %}

<h2>
    Option Position<br>
</h2>

<table>
    <tr>
        <th><input type="text" id="chain" name="expiry2" value ="Expiry" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="strike" value ="Strike" readonly="readonly" {{style1}}  /></th>      
        <th><input type="text" id="chain" name="call_value" value ="Value" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="call_delta" value ="Delta" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="call_vega" value ="Vega" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="call_gamma" value ="Gamma" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="call_theta" value ="Theta" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="call_open_interest" value ="Open Int" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="call_position" value ="Position" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="vol" value ="Vol" readonly="readonly" {{style1}} {{style1}}  /></th>
        <th><input type="text" id="chain" name="put_position" value ="Position" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="put_value" value ="Value" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="put_delta" value ="Delta" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="put_vega" value ="Vega" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="put_gamma" value ="Gamma" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="put_theta" value ="Theta" readonly="readonly" {{style1}}  /></th>
        <th><input type="text" id="chain" name="put_open_interest" value ="Open Int" readonly="readonly" {{style1}}  /></th>
    </tr>

{% if expiry_string %}
{% for exp in expiry_string %}
    {% set styleA = loop.cycle(style2,style3) %}
    {% set styleB = loop.cycle(style4,style5) %}
    {% for option in show_list %}
        {% if option[-15:-9] == exp %} 
            <tr>
                <td><input type="text" id="chain" name="{{option}}_expiration" value ="{{exp[2:4]}}/{{exp[4:]}}/{{exp[:2]}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{option}}_strike" value ="{{option_chain[option]['strike_int']}}.{{option_chain[option]['strike_decimal']}}" readonly="readonly" {{styleA}}  /></td>   
                <td><input type="text" id="chain" name="{{option}}_call_value" value ="{{formatted_greeks[option]['call']['value']}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{option}}_call_delta" value ="{{formatted_greeks[option]['call']['delta']}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{option}}_call_vega" value ="{{formatted_greeks[option]['call']['vega']}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{option}}_call_gamma" value ="{{formatted_greeks[option]['call']['gamma']}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{option}}_call_theta" value ="{{formatted_greeks[option]['call']['theta']}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{option}}_call_open_interest" value ="{{option_chain[option]['c_open']}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{option}}_position" value ="{{position[option]}}" style="color : red; {{styleB}}" /></td>
                <td><input type="text" id="chain" name="{{option}}_vol" value ="{{vols[option]}}" style="color : red; {{styleB}}"  /></td>
                {% set put_symbol = option_chain[option]['put_symbol'] %}
                <td><input type="text" id="chain" name="{{put_symbol}}_position" value ="{{position[put_symbol]}}" style="color : red; {{styleB}}"  /></td>
                <td><input type="text" id="chain" name="{{put_symbol}}_put_value" value ="{{formatted_greeks[option]['put']['value']}}" readonly="readonly" {{styleA}}  /></td>
                <td><input type="text" id="chain" name="{{put_symbol}}_put_delta" value ="{{formatted_greeks[option]['put']['delta']}}" readonly="readonly" {{styleA}} ></td>
                <td><input type="text" id="chain" name="{{put_symbol}}_put_vega" value ="{{formatted_greeks[option]['put']['vega']}}" readonly="readonly" {{styleA}} ></td>
                <td><input type="text" id="chain" name="{{put_symbol}}_put_gamma" value ="{{formatted_greeks[option]['put']['gamma']}}" readonly="readonly" {{styleA}} /></td>
                <td><input type="text" id="chain" name="{{put_symbol}}_put_theta" value ="{{formatted_greeks[option]['put']['theta']}}" readonly="readonly" {{styleA}} /></td>
                <td><input type="text" id="chain" name="{{put_symbol}}_put_open_interest" value ="{{option_chain[option]['p_open']}}" readonly="readonly"{{styleA}}  /></td>
            </tr>
        {% endif %}
    {% endfor %}
{% endfor %}
{% endif %}

</table>
<input type="hidden" name="stock_symbol_hidden" value="{{stock_symbol}}" />
                            
{% endblock %}

