{% extends "base.html" %}
{% block content %}

<h2>Signup</h2>
<form method="post">
    <table>
        <tr>
            <td class="label">Username</td>
            <td><input type="text" id="login" name="username" value="{{username}}"></td>
            <td class="error">{{error_username}}</td>
        </tr>
        <tr>
            <td class="label">Password</td>
            <td><input type="password" id="login" name="password" value=""></td>
            <td class="error">{{error_password}}</td>
        </tr>
        <tr>
            <td class="label">Verify Password</td>
            <td><input type="password" id="login" name="verify" value=""></td>
            <td class="error">{{error_verify}}</td>   
        </tr>
        <tr>
            <td class="label">Email (optional)</td>
            <td><input type="text" id="login" name="email" value="{{email}}"></td>
            <td class="error">{{error_email}}</td>  
        </tr>
    </table>
    <input type="submit">
</form>

{% endblock %}