{% extends "base.html" %}

{% block content %}
<br>
<br>

Welcome to my demo site.  Here are the projects that I am working on.

<h1>Option Model</h1>
<ol>
    <li><h3>Purpose</h3></li>
    <ul>
        <li>Build a webapp that can be used to accurately model an equity option position and all of its greeks.</li>
    </ul>
    <li><h3>Goals</h3></li>
    <ul>
        <li>Create a database of greeks that can be quickly retrieved using a description of the desired option.</li>
        <li>Practice precaching objects in memcache to both lower the hits on the DB and increase response times.</li>
        <li>Create a streaming webapp that uses a range of cached values to create a real time option position.</li>
    </ul>
    <li><h3>Features</h3></li>
    <ul>
        <li>Ability to store values of greeks in the database for quick retrieval.</li>
        <li>If user is logged in they can create a number of positions for themselves that are stored in the DB.</li>
    </ul>  
    <li><h3>Limitations</h3></li>
    <ul>
        <li>
            Although Google is very generous with its DB read and write operations an application that is a data demanding
            as an option pricer the limitations make it very difficult to deploy more than a few instances using the DB.
        </li>
        <li>
            Since precalculating and storing a large number of option greeks is difficult, the response times to initial calculations
            is very slow.  However once a range of values has been calculated and stored in memcache the response times are quite good.
        </li>
        <li>
            Since going from a local server to running on Google's server I have been running into occasional timeouts that I had not been experiencing
            on my local machine.  Have worked around a couple of the bugs but am still having some trouble on dividend paying stocks and
            stocks with lots of strikes.
        </li>
        <li>I have had to limit the size of the tree substantially both to limit instance use and reduce the timeouts.</li>
        <li>Streaming does not seem like a reasonable option due to the limitations of the system at this time.</li>
    </ul>
    <li><h3>Future Improvements</h3></li>
    <ul>
        <li>
            Improve the pricer using Scipy, but until Google adds it to its list of libraries, or I find another library that contains
            the functions that I need that seems difficult.
        </li>
        <li>Add a page for viewing and setting skew versus the implied volatility</li>
        <li>Add a page for viewing the users entire book.</li>
        <li>
            Implement the DB so that the only values that would need to be calculated using an option model are the prices.  All of the 
            other greeks could be calculated by using the difference in prices and their sensitivity  to changing variables. But, that is 
            not possible using the current Google DB.
        </li>
        <li>Still having occasionally timeouts when calculating greeks.  Need to track those down and handle them better.</li> 
        <li>
            Run the webapp on a local machine instead of using GAE.  This would allow me to Read/Write to the database as much
            as I would like to.  It would also allow me to calculate as many options as I would like because there would be no
            limit to the number of runtime cycles that I could use.
        </li>        
        
    </ul>
</ol>

<h1>Sudoku</h1>
<ol>
    <li><h3>Purpose</h3></li>
    <ul>
        <li>Create a program that can create and solve valid puzzles of varying degrees of difficulty.</li>
    </ul>
    <li><h3>Goals</h3></li>
    <ul>
        <li>
            Create algorithms that can solve increasingly harder puzzles and never have to use brute force to solve
            a valid grid that does not require guessing to solve the problem.
        </li>
        <li>Create an algorithm that can create valid Sudoku grids of different difficulties.</li>
    </ul>
    <li><h3>Features</h3></li>
    <ul>
        <li>Ability to solve user generated grids and add them to database of grids.</li>
        <li>Multiple levels of difficulty based on what techniques are required to solve the puzzle.  Using rules 
            such as simple number elimination, pair and triplets, hidden pairs and triplets
        </li>
        
    </ul>
    <li><h3>Limitations</h3></li>
    <ul>
        <li>Some very difficult puzzle are still timing out.  New rules and a better recursive technique would help.</li>
    </ul>
    <li><h3>Future Improvements</h3></li>
    <ul>
        <li>Need to add a few more layers of algorithms so that brute force is only needed for bad grids</li>
        <li>Figure out a better way to generate more difficult grids.</li>
        <li>Track what puzzles the user has tried and record the times they finished the puzzle in.</li>
        <li>Rewrite the page so that JavaScript can be used.</li>
    </ul>
</ol>

{% endblock %}